* {
  background-color: #E6FCFE;
}

blockquote {
  margin-left: 3em
}

figcaption {
  margin-left: 3em
}

div#arvo-quote {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
