* {
  background-color: #E6FCFE;
  font-family: 'Amiri', serif;
  line-height: 1.15em;
  color: #424242;
}

blockquote {
  margin-left: 3em;
}

figcaption {
  margin-left: 3em;
}

div#arvo-quote {
  margin: auto;
  width: 800px;
  text-align: center;
}

h1 {
  text-align: center;
  margin: auto;
  letter-spacing: 0.13em;
  font-size: 2em;
}

h2 {
  text-align: center;
  letter-spacing: 0.13em;
  font-size: 1.5em;
}

img {
  text-align: center;
  width: 450px;
}

p#credit{
  text-align: center;
}


p#image{
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 5px;
  padding: 10px;
}
