* {
  background-color: #E6FCFE;
  font-family: 'Amiri', serif;
  line-height: 1.15em;
  color: #424242;
}

blockquote {
  margin-left: 3em;
}

figcaption {
  margin-left: 3em;
}

div#arvo-quote {
  text-align: center;
}

h1 {
  text-align: center;
  letter-spacing: 0.13em;
}

h2 {
  text-align: center;
  letter-spacing: 0.13em;
}
